<!doctype html>
<html lang="en">
  <head>
    <%- include('../includes/links.ejs') %>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('../includes/shop-header.ejs') %>
    
    <div class="container">
      <div class="mt-5 text-center">
        <h1>404 Error</h1>
        <h3>The page you are looking for does not exist</h3>
      </div>
  

    </div>
    <%- include('../includes/footer.ejs') %>
</body>
</html>
