<!doctype html>
<html lang="en">
  <head>
    <%- include('../includes/links.ejs') %>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('../includes/shop-header.ejs') %>
   <h1>cart page</h1>

    <%- include('../includes/footer.ejs') %>
 </body>
</html>
