<!doctype html>
<html lang="en">
  <head>
    <%- include('../includes/links.ejs')%>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('../includes/shop-header.ejs')%>

    </div>
    <%- include('../includes/footer.ejs')%>
</body>
</html>
